venv/
__pycache__/
*.pyc
*.pyo
zen.egg-info/
*.egg-info/
dist/
build/
zen.pyz
.vote/
*.log
zen/lib/node_modules/
zen/lib/package-lock.json
*.pdf
*.csv
*.json
*.png
*.jpg
*.bin
*.txt
zen/target/
wa_auth/
betika_data/
test_img_dir/
test_zen_dir/
moi_pdfs/
monalisa_images/
zen/dist/
